

* {
    box-sizing: border-box;
  }

body {
    background-color: rgba(211, 211, 211, 0.615) ;
    font-family: 'Open Sans' , sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #000000;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
    
}
a {
    color: #faf7f5;
    text-decoration: none; /* No underlining */
  }
  a:visited { /* visited link */
    color: #f8e914;
  }
  a:hover {
    color: #2558f1;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  a:active { /* selected link */
    color: #cc4210;
  }
  a:hover,
a:focus {
  color: #e1f227;
  text-decoration: underline;
}

.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #0b0c0c;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 2px solid #050201; /* width of the border, type, color */
    transition-duration: 0.2s;
    transition-property: 0.2s opacity;
}
  .button:hover {
    opacity: 0.8;
  }
  /*Layout Styling*/
  .container {
    padding: 0 15px;
  }
  
  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }

  #hero {
    background-color: #ffe4c4;
    padding: 20px 0;
    display: block;
    width: 100%;
    text-align: unset;
  }

  /* ============================
  Small Devices (480px and larger)
  ===============================*/
  @media only screen and (min-width: 480px) { 
    header { 
        text-align: unset;
        padding: 20px 0 13px;
        nav {
            width: auto;
            float: right;
            margin-top: 4px;
          }
    }
  }
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
      text-align: unset;
      padding: 20px 0 13px;
    }
  
    nav {
      width: auto;
      float: right;
      margin-top: 4px;
    }
  }
  /* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
      }
    
      nav {
        width: auto;
        float: right;
        margin-top: 4px;
      }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
      }
    
      nav {
        width: auto;
        float: right;
        margin-top: 4px;
      }
      .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }
}
 
/* Colors Used:
(White) : FFFFF White
(Blue) : 6666FF Blue
(Peach) FF9966
(Black) 000000